{% extends 'base.html' %} 
{% block title %} blog page {% endblock title %} 
{% block body %} 
{% load static %}
<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Thank you for the opportunity to apply for the slot role at your company. After reviewing your job description, it's clear that you're looking for a candidate that is extremely familiar with the responsibilities associated with the role, and can perform them confidently. Given these requirements, I am certain that I have the necessary skills to successfully do the job adeptly and perform above expectations.</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Gaurav Kumar Mishra</h4>
            <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p>
            <ul>
              <li>Kahaua, Biraul, Darbhanga, Bihar</li>
              <li>+91 9955995957</li>
              <li>gauravmishra892001@gmail.com</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Computer Science</h4>
            <h5>2019 - 2023</h5>
            <h5>Marks:<b>78%</b></h5>
            <p><em>D.Y. Patil International University, Akurdi, Pune</em></p>
            <p>D Y Patil International University, Akrudi, Pune is one of the finest private universities in India, which is providing the highly-skilled talent to the nation and overseas. The university has recently become operational as a state private university and offering the best quality higher education in the field of engineering, management, international business, graphic design, biotechnology, journalism, and mass communication.</p>
          </div>
          <div class="resume-item">
            <h4>12th Science</h4>
            <h5>2017 - 2019</h5>
            <h5>Marks: <b>82%</b></h5>
            <p><em>Kunwar Singh College Laheriasarai Darbhanga</em></p>
            <p>Established in 1970 in the name of Babu Veer Kunwar Singh, an epitome of bravery and a nationalist from the core, KS College Laheriasarai is a constituent unit of L.N Mithala University, Darbhanga. This college is situated on the junction of twin city of Darbhanga- Laheriasarai. Since its inception the college has travelled a long way in catering to the academic needs of the adjoining areas. The needs of the students in learning, academic planning, extra-curricular activities are the prime focussed area of this college. Consequently, the college has given a large number of students to serve the society as doctors, engineers, civil servants, academicians etc.</p>
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Software Developer Intern</h4>
            <h5>2022</h5>
            <p><em>My Next Film Private Limited, Delhi, INDIA </em></p>
            <ul>
              <li>Managed and worked on live products and intensified more than 60%</li>
              <li>vectors creation of the scripts\story using the NLP Algorithm.</li>
              <li>Performed extraction and analysis of parts of speech from scripts using different NLP libraries <b> NLTK, SPACY, BLOBTEXT, STANFROEDNLP, etc. </b></li>

            </ul>
          </div>
          <div class="resume-item">
            <h4>Software Developer Intern</h4>
            <h5>2021</h5>
            <p><em>rawcult, Delhi, INDIA</em></p>
            <ul>
              <li>Assisted in the development of a Multivendor eCommerce Website from Scratch</li>
              <li>Coordinating with the team and contributing to the growth of the organization.</li>
              <li>Hands-on live project experience as a web developer in <b>Python, Django, Javascript, Bootstrap, HTML & CSS.</b></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->

   <!-- ======= Skills Section ======= -->
   <section id="skills" class="skills section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Skills</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6" data-aos="fade-up">

          <div class="progress">
            <span class="skill">PYTHON <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="progress">
            <span class="skill">DJANGO <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="progress">
            <span class="skill">JAVASCRIPT <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="progress">
            <span class="skill">CSS <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="progress">
            <span class="skill">HTML <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
     
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

          <div class="progress">
            <span class="skill">SQL<i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="progress">
            <span class="skill">Machine Learning<i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">MYSQL <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="progress">
            <span class="skill">Git & GitHub <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Data Structure & Algorithm <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
   

      

        </div>

      </div>

    </div>
  </section><!-- End Skills Section -->

<section id="Achive" class="achive">
<div class="container">
  <div class="row">
    <div class="col-lg-4" data-aos="fade-right">
      <img src="https://thumbs.dreamstime.com/b/silver-trophy-city-background-success-achievement-conc-silver-trophy-city-background-success-achievement-concept-132867545.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
      <h3>CODING PERFORMANCES & ACHIEVEMENTS</h3>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="resume-item">
          <ul>
           <a href="https://leetcode.com/12gaurav/" target="_blank"> <li><b> 300+ Problems solved on Leetcode:</b></li></a>
            <a href="https://auth.geeksforgeeks.org/user/gauravtechnicalprogram2021/practice/" target="_blank"><li><b> 330+ Problems solved on Geek for Geeks</b></li></a>
            <a href="https://www.hackerrank.com/gauravkumarmish4?hr_r=1" target="_blank"><li><b> 5-star Python on HackerRank</b></li></a>
            <a href="https://drive.google.com/drive/folders/1zKdNafPkdiGFujlYNwipCVVBuPDVbxam" target="_blank"><li><b> Smart India Hackathon 2022 -SIH</b></li></a>
            <a href="https://www.cloudskillsboost.google/public_profiles/aaad1214-9b52-47e2-a435-158034c02a44" target="_blank"><li><b> 30 Days of Google Cloud</b></li></a>
            <a href="https://www.cloudskillsboost.google/public_profiles/aaad1214-9b52-47e2-a435-158034c02a44" target="_blank"><li><b> Google Cloud Security</b></li></a>
           
          </ul>
        </div>
    </div>
  </div>

</div>
</section><!-- End About Section -->
<br><br><br>

{% endblock body %}
